*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image:url(markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
a{
    text-decoration: none;
}
.container{
   width: 80%;
    margin: auto;

    }

#navbar{
    background-color: #0009;
    overflow: auto;
    padding: 20px;
    display: block;
    border-bottom: 5px solid #FFF8;
}
.h1{
    float: left;
    color: white;
}

.container ul{
    float: right;
 list-style: none;
     }
.container ul li{
    float: left;
    }
.container ul li a{
    display: inline-block;
    padding: 2px 20px;
    color: white;
    border: 2px solid #2ECC71;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.25s;
}
.container ul li a:hover,.container ul li a.active {
    background: #2ECC71;
    color:#154360;
}
.box{
 
  width: 800px;
  padding: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #212F3D;
  text-align: center;
 border: 3px solid #FFF8;
 border-radius: 30px;
}
.box p{
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}
.box p, .little{
    padding: 10px;
}
.little{
    font-size: 20px;
    color: sandybrown;
    text-align: left;
}

.rasm{
    width: 100px;
    height: 100px;
    border: 3px solid #FFF8;
    border-radius: 80px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(LRM_EXPORT_29480269166764_20190709_224220057.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.main{
 display: block;
    overflow: auto;
}
.area{
    padding: 0 20px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
     transform: translate(-50%,-50%);
    background-color: #212F3D;
    width: 800px;
    padding: 40px;
    margin: 25px;

     border: 3px solid #FFF8;
    border-radius: 30px;
}
.ism, .pochta {
display: inline-block;
    text-align: left;
}
.ism{
    margin-right: 50px;
    
}
.pochta{
    margin-left: 50px;
  
}
.area input[type="name"], input[type="email"]{
 border:0;
  background: none;
  display: block;
  text-align: center;
  border: 3px solid #3498db;
  padding: 10px 25px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.50s;
}
.area input[type="name"]:focus, input[type="email"]:focus{
  border: 3px solid #2ecc71;
 
}

